<h3>Orbit Report</h3>
<table >
   
   <tr class="header-row">
      <th class="sortable" (click)="sort('name')" >Name</th>
      <th class="sortable" (click)="sort('type')">Type</th>
      <th  class="sortable" (click)="sort('operational')">Operational</th>
      <th class="sortable" (click)="sort('orbitType')">Orbit Type</th>
      <th class="sortable" (click)="sort('launchDate')">Launch Date</th>
   </tr>
   <tr  *ngFor="let dish of satellites" [class.zebra-Stripes]=zebraFunction()> 
      <th>{{dish.name}}</th>
      <th [class.warning]=dish.shouldShowWarning()>{{dish.type}}</th>
      <th>{{dish.operational}}</th>
      <th>{{dish.orbitType}}</th>
      <th>{{dish.launchDate}}</th>
    </tr>
   <!-- TODO: put <tr *ngFor=""></tr> here -->
</table>
